.section-three .heading {
    text-align: center;
    padding: 40px;
}


.section-three .heading h2 {
    font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 54px;
color: #fff;
max-width: 800px;
margin: 0 auto;
padding: 20px 0px;
}


.section-three .heading p {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
    text-align: center;
color: #fff;
max-width: 500px;
margin: 0 auto;

}

.testimonals {
width: 80%;
margin: 0 auto;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding: 10px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }