.section-four {
    text-align: center;
}

.section-four .heading h2{
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    color: #fff
}

.votes_3WwDj {
    color: #fff !important;
}