.section-two .main-card{
    display: grid;
    grid-template-columns: 50% 40%;
    margin: 150px 0px;
    padding: 40px;
    grid-gap: 40px;
}

@media only screen and (max-width: 600px) {
    .section-two .main-card {
        display: block;
        padding: 20px;
        margin: 40px 0px;
    }

    .section-two .main-card  .section-two-info {
        padding: 40px 0px;
    }
  }

.section-two-info {
    text-align: center;
    color: #fff;

}

.section-two-info p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    
}

.section-two-info h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
}

.section-two-info .card-btn{
    background: #6736DD;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 53px;
    cursor: pointer;
    font-weight: 600;
 }

 .section-two-info .card-btn a {
     text-decoration: none;
     color: #fff;
 }

.iframe-lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr) ) ; 
    grid-gap: 40px;
    padding: 40px;
}

.section-three-end {
    padding: 100px 20px;
    text-align: center;
    max-width: 537px;
    margin: 0 auto;
    color: #fff;
}

.section-three-end h3 {
    font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 54px;
}

.section-three-end p {
    font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 34px;
text-align: center;
}