html {
  font-family: 'Poppins', sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif !important;
  background-color: #000;
  overflow-x: hidden;
}

footer {
  padding: 40px 0px;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
  }
}


footer ul , .social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline-block;
  padding-left: 20px;
}

.social ul li {
  padding: 10px;

}

@media only screen and (max-width: 600px) {
  .social ul li {
    margin: 30px 0px;
  
  }
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}